<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.idcheckio">

    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.example.idcheckio.IdcheckioActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.AppCompat.Light"
            android:exported="true"/>
    </application>
</manifest>
